---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hakkımda"
	description="Blogolog hakkında"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Bu sayfa şu anda yapım aşamasındadır. Yakında burada benimle ilgili bilgileri bulabileceksiniz.
	</p>
</Layout>
